code,
kbd,
pre,
samp {
  font-family: arial,sans-serif !important; 
}
/* arial, */
body,
button,
input,
select,
textarea {
  font-family: arial,sans-serif !important;
}

code,
pre {
  font-family: "Source Code Pro", Monaco, arial,sans-serif !important;
}

/* p{ white-space:pre-wrap;} */
