[submodule "hugo/themes/m10c"]
	path = hugo/themes/m10c
	url = https://github.com/vaga/hugo-theme-m10c.git
[submodule "public"]
	path = public
	url = git@github.com:QaQAdrian/QaQAdrian.github.io.git
	branch = master
